.footer{
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 200px;
    margin-top: 2em;
    border-top: 3px solid #111;
    color: #dddddd;
    background-color: black;
}

.fitem{
    padding: 5px;
    list-style: none;
    display: inline;
}

.ImgF{
    color: #dddddd;
    height: 20px;
    width: 20px;
}

.rowT{
    text-align: center;
}

.info{
    font-weight: bold;
    margin: 10px;
}

