.footer {
    display: flex;
    background-color: black;
    color: white;
    height: 300px;
    justify-content: center;
    align-items: center;

    bottom: 0;
    width: 100%;
}

.fitem{
    list-style: none;
    display: inline;
}