.title {
  color: #14213D;
  font-size: 34px;
  font-family: Helvetica;
  font-weight: bold;
  margin: 10px 20px;
  padding: 13px 0;
}

.subtitle {
  font-family: Helvetica;
}

.presmain {
  color: #14213D;
  font-size: large;
}

.presub{
  color: #14213D  ;
  font-size: medium;
}

.containerSec1 {
  background-color: #e5e5e5;
}

.buttonContacts{
  margin: 10px;
  height: 35px;
  border-radius: 80px;
}

.imgContato{
  margin: 12px;
}